button.xa-button {
    display: inline-flex;
    padding: 14px 18px;
    align-items: center;
    justify-content: center;
    color: var(--xa-black);
    flex-direction: row;
    gap: 10px;
    position: relative;

    mat-icon {
        height: 18px;
        width: 18px;
    }

    &::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        pointer-events: none;
        content: "";
        background-color: var(--xa-black);
        opacity: 0;
        border-radius: inherit;
    }

    &:hover::before,
    &:active::before {
        opacity: 0.04;
        -webkit-animation: fadeInFromNone 0.5s ease-out;
        -moz-animation: fadeInFromNone 0.5s ease-out;
        -o-animation: fadeInFromNone 0.5s ease-out;
        animation: fadeInFromNone 0.5s ease-out;
    }

    @-webkit-keyframes fadeInFromNone {
        0% {
            opacity: 0;
        }

        1% {
            display: block;
            opacity: 0;
        }

        100% {
            opacity: 0.04;
        }
    }

    @-moz-keyframes fadeInFromNone {
        0% {
            opacity: 0;
        }

        1% {
            display: block;
            opacity: 0;
        }

        100% {
            opacity: 0.04;
        }
    }

    @-o-keyframes fadeInFromNone {
        0% {
            opacity: 0;
        }

        1% {
            display: block;
            opacity: 0;
        }

        100% {
            opacity: 0.04;
        }
    }

    @keyframes fadeInFromNone {
        0% {
            opacity: 0;
        }

        1% {
            display: block;
            opacity: 0;
        }

        100% {
            opacity: 0.04;
        }
    }

    &[color='primary'] {
        background-color: var(--xa-primary);
        border: 1px solid var(--xa-primary);
        color: var(--xa-white);

        mat-icon {
            fill: var(--xa-white) !important;
        }

    }

    &[color='secondary'] {
        background-color: var(--xa-secondary);
        border: 1px solid var(--xa-secondary);
        color: var(--xa-white);
    }

    &[color='teritary'] {
        background-color: var(--xa-tertiary);
        border: 1px solid var(--xa-tertiary);
    }

    &[color='success'] {
        background-color: var(--xa-approve);
        border: 1px solid var(--xa-approve);
    }

    &[color='danger'] {
        background-color: var(--xa-red);
        color: var(--xa-white);
        border: 1px solid var(--xa-red);
    }

    &:not([appearancetype='outline']):not([appearancetype='basic']) {
        transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:not([appearancetype='outline']):not([appearancetype='basic']):hover {
        box-shadow: var(--mdc-protected-button-hover-container-elevation, 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12))
    }

    &[appearancetype='outline'] {
        background-color: transparent;
        border: 1px solid var(--xa-light-gray);
        color: var(--xa-black) !important;

        mat-icon {
            fill: var(--xa-black) !important;
        }
    }

    &[appearancetype='basic'] {
        background-color: transparent;
        border: none;
        color: var(--xa-black) !important;

        mat-icon {
            fill: var(--xa-black) !important;
        }
    }

    &[appearancetype='basic'][color='danger'] {
        color: var(--xa-red) !important;

        mat-icon {
            fill: var(--xa-red) !important;
        }
    }

    &[appearancetype='outline'][color='danger'] {
        border: 1px solid var(--xa-red);
        fill: var(--xa-red) !important;
        color: var(--xa-red) !important;
    }

    &[appearancetype='primary'][color='danger'] {
        color: var(--xa-white);
    }

    &[appearancetype='chip'] {
        border-radius: 10px !important;
        height: 18px !important;
        padding: 3px 8px 3px 8px !important;
        font-size: 8px !important;
        line-height: 12px !important;
        font-weight: 500 !important;
    }

    &[appearancetype='chip'][color='grey'] {
        color: var(--xa-black);
        background-color: var(--xa-draft);
    }

    &[appearancetype='chip'][color='green'] {
        color: var(--xa-black);
        background-color: var(--xa-approve);
    }

    &[appearancetype='chip'][color='red'] {
        color: var(--xa-white);
        background-color: var(--xa-noshow);
    }

    &[appearancetype='chip'][color='bluish-grey'] {
        color: var(--xa-white);
        background-color: var(--xa-bluesh-grey);
    }

    &[appearancetype='chip'][color='teal'] {
        color: var(--xa-black);
        background-color: var(--xa-upload-document);
    }

    &[appearancetype='chip'][color='brown'] {
        color: var(--xa-white);
        background-color: var(--xa-upload-photo);
    }

    &[appearancetype='chip'][color='yellow'] {
        color: var(--xa-black);
        background-color: var(--xa-repair-estimate);
    }

    &[appearancetype='chip'][color='purple'] {
        color: var(--xa-white);
        background-color: var(--xa-ai-analysis);
    }

    &[appearancetype='chip'][color='blue'] {
        color: var(--xa-white);
        background-color: var(--xa-blue);
    }

    &[appearancetype='fab'] {
        border-radius: 100%;
        background-color: var(--xa-black);
        border: 1px solid var(--xa-black);

        mat-icon {
            color: var(--xa-white);
            fill: var(--xa-white) !important;
        }
    }

    &[appearancetype='mini-fab'] {
        border-radius: 100%;
        background-color: var(--xa-black);
        border: 1px solid var(--xa-black);
        height: 30px !important;
        width: 30px !important;
        padding: 0px;

        mat-icon {
            height: 16px !important;
            width: 16px !important;
            color: var(--xa-white);
            fill: var(--xa-white) !important;
        }
    }

    &[appearancetype='outline-fab'] {
        border-radius: 100%;
        background-color: transparent;
        border: 1px solid var(--xa-light-gray);
        padding: 0px;

        mat-icon {
            color: var(--xa-black);
            fill: var(--xa-black);
        }
    }

    &[appearancetype='mini-fab-outline'] {
        border-radius: 100%;
        background-color: transparent;
        border: 2px dashed var(--xa-light-gray);
        height: 40px !important;
        width: 40px !important;
        padding: 0px;

        mat-icon {
            height: 20px !important;
            width: 20px !important;
            color: var(--xa-light-gray) !important;
            fill: var(--xa-light-gray) !important;
        }
    }

    &[size='xs']:not([appearancetype*='fab']) {
        height: 22px;
        min-width: 74px;
        font-size: 12px;
        line-height: 14px;
        border-radius: 5px;
        padding: 4px 8px 4px 8px;
    }

    &[size='sm'][appearancetype='fab'],
    &[size='sm'][appearancetype='outline-fab'] {
        height: 32px;
        width: 32px;
        padding: 8px;
        min-width: unset;
    }

    &[size='lg'][appearancetype='mini-fab'] {
        height: 48px !important;
        ;
        width: 48px !important;
        ;

        mat-icon {
            height: 16px !important;
            width: 16px !important;
        }

        min-width: unset;
    }

    &[size='sm']:not([appearancetype*='fab']) {
        height: 30px;
        min-width: 94px;
        font-size: 14px;
        line-height: 18px;
        padding: 6px 12px 6px 12px;
    }

    &[size='md'][appearancetype='fab'],
    &[size='sm'][appearancetype='outline-fab'] {
        height: 44px;
        width: 44px;
        min-width: unset;
        padding: 12;
    }

    &[size='md']:not([appearancetype*='fab']) {
        height: 40px;
        min-width: 100px;
        font-size: 14px;
        line-height: 14px;
        padding: 10px 12px 10px 12px;
    }

    &[size='lg'][appearancetype='fab'],
    &[size='sm'][appearancetype='outline-fab'] {
        height: 56px;
        width: 56px;
        min-width: unset;
        padding: 16;
    }

    &[size='lg']:not([appearancetype*='fab']) {
        height: 48px;
        min-width: 112px;
        font-size: 16px;
        line-height: 20px;
        padding: 14px 18px 14px 18px;
    }

    &:disabled {
        opacity: 0.4;
        pointer-events: none;
    }

    &:not([appearancetype='outline']):not([appearancetype='basic']):disabled {
        //todo depreciate old chq buttons and revert background and color. Remove opacity
        //background-color: var(--xa-gray) !important;
        //color: var(--xa-white) !important;
        border: 0px;
        pointer-events: none;
        opacity: 0.4;

        mat-icon {
            fill: var(--xa-white) !important;
        }
    }

}